.login {
    background-color: white;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 550px;
    border-radius: 4%;
    padding-bottom: 338px;
    padding-left: 30px;
    margin-top: 145px;
    height: 288px;

}

.background-image-container {
    
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./fondLogin.png');
  background-size: cover;
  background-position: center;
 z-index: -1;
  
  }

.error {
    border: 1px solid rgb(255, 37, 37);
}

.error-message {
    color: red;
    font-size: 14px;
}

.pag {
    min-Height: 100vh;
   
    margin: 0;

    padding: 8%;
}

.formulair {
    background-color: white;
    max-width: 400px;
    margin: auto;
    border-radius: 2%;
    border: 1px solid var(--color-blog);
    min-height: 300px;
    box-shadow: 10px 15px 12px rgba(10, 15, 0, 0.1);
}

.label {
    display: block;
    margin-top: 25px;
    margin-bottom: -20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    font-weight:700;
}

.input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(37, 122, 202, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #3d3a3a;
}

.vatan{
    padding: 0px 25px;
}